@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700;900&family=Baloo+2:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root{
    
    --Cor-Bege: #F4EFE3;
    --Cor-Cinza: #3C3C3B;
    --Cor-Verde: #618985;
    --Cor-Vermelha: #C3423F;
    --Cor-Amarela: #FFCB77;


    --Fonte-1: 'Alegreya Sans SC';
    --Fonte-2: 'Baloo 2';
}

header{
    background-color: var(--Cor-Bege);
}

.Menu{
    margin-left: 5%;
    height: 150px;
    display: grid;
    gap: 10%;
    grid-template-columns: 60% 30%;
    align-items: center;
}

#Ativo{
    color: var(--Cor-Vermelha);
}

.Menu_Esquerda{
    display: flex;
    gap: 50px;
}

.Menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.Menu_Esquerda a{
    text-decoration: none;
    font-family: var(--Fonte-1);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.045em;

    color: var(--Cor-Cinza);
}

.Menu_Direita{
    justify-content: center;
}

.Menu_Direita a{
    text-decoration: none;
    font-family: var(--Fonte-1);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.045em;

    color: var(--Cor-Verde);
}

/* -------Main------- */

.Section_1{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50% 40%;
    background-color: var(--Cor-Bege);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 6%;
    padding-top: 5%;
}



/*------------ Gif da Direita ------------*/

.Formulario{
    background-color: var(--Cor-Bege);
    box-shadow: 0px 4px 34px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 100px;
    gap: 30px;
}

#msgError{
    width: 80%;
    text-align: center;
    color: #ff0000;
    background-color: #C3423F;
    padding: 10px;
    border-radius: 20px;
    display: none;
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 700;
    font-size:40px;
  }

input{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 700;
    font-size:30px;
    padding-left: 100px;
    width: 60%;


    color: var(--Cor-Cinza);
}

.Formulario ::placeholder{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    padding-left: 10px;


    color: var(--Cor-Cinza);
}


#Email{
    background-color: #3C3C3B33;
    height: 100px;
    border-radius: 100px;
    margin: 20px 40px;
    border: none;
    background-image: url("../Assets/Imagem\ -\ email.svg");
    background-repeat: no-repeat;
    background-position: 5% 50%;
}

#Senha{
    background-color: #3C3C3B33;
    height: 100px;
    border-radius: 100px;
    border: none;
    background-image: url("../Assets/cadeado\ 2.png");
    background-repeat: no-repeat;
    background-position: 5% 50%;
}


#Botao{
    background-color: var(--Cor-Verde);
    align-self: center;
    padding: 22px 115px;
    border-radius: 100px;
    border: none;

    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 900;
    font-size: 20px;

    color: var(--Cor-Bege);

    cursor: pointer;
}

#Botao:hover{
    background-color: var(--Cor-Vermelha);
}

#Botao:active{
    background-color: #992624;
    padding: 20px 113px;
    margin: 2px 2px;
}

/*------------ Textos Direita ------------*/

.Textos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Textos h1{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 102px;
    letter-spacing: 0.34em;

    color: var(--Cor-Cinza);
}

.Textos img{
    width: 40%;
}


p{
    font-family: var(--Fonte-1);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: var(--Cor-Cinza);

}


/*-------------- Footer  ---------------- */
footer{
    
    background-color: var(--Cor-Cinza);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
}

footer div{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #b9b9b9;
}