@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700;900&family=Baloo+2:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root{
    
    --Cor-Bege: #F4EFE3;
    --Cor-Cinza: #3C3C3B;
    --Cor-Verde: #618985;
    --Cor-Vermelha: #C3423F;
    --Cor-Amarela: #FFCB77;


    --Fonte-1: 'Alegreya Sans SC';
    --Fonte-2: 'Baloo 2';
}

/*----------------- Header ------------------ */


header{
    background-color: var(--Cor-Bege);
}

.Menu{
    margin-left: 5%;
    height: 150px;
    display: grid;
    gap: 10%;
    grid-template-columns: 60% 30%;
    align-items: center;
}

#Ativo{
    color: var(--Cor-Vermelha);
}

.Menu_Esquerda_Simbulo{
    display: none;
}   

.Menu_Esquerda_Fechado{
    display: flex;
    gap: 50px;
}

.Menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.Menu_Esquerda a{
    text-decoration: none;
    font-family: var(--Fonte-1);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.045em;

    color: var(--Cor-Cinza);
}

.Menu_Esquerda_Aberto{
    display: none;
}

.Menu_Direita{
    justify-content: center;
}

.Menu_Direita a{
    text-decoration: none;
    font-family: var(--Fonte-1);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.045em;

    color: var(--Cor-Verde);
}

/* Botao darkmode */
/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#C3423F,#FFCB77 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
/* Botao darkmode */

/* -------Main------- */


.Section_1{
    background-color: var(--Cor-Bege);
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.Atuação_Cards{
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 35% 30%;
    gap: 2.5%;
    align-items: center;
    justify-content: center;    
}


.Atuação_Cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.Atuação_Cards i{
    font-size: 50px;
    align-self: center;
}

.Textos h1{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 102px;


    align-items: center;
    letter-spacing: 0.34em;

    color: var(--Cor-Cinza);
}

.Atuação_Cards h1{
    letter-spacing: 0em;
}

.Atuação_Cards img{
    width: 80%;
}

.Ganhador div{
    display: flex;
    flex-direction: row;
}

.Textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.Textos h2{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;

    color: var(--Cor-Cinza);
}



/*-------------- Section 2  ---------------- */

.Section_2 {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--Cor-Bege);
    padding: 100px 0;
}

.Section_2 h1{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 102px;


    align-items: center;
    letter-spacing: 0.34em;

    color: var(--Cor-Cinza);
}

.Section_2 h2{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;

    color: #3C3C3B;
}
.Section_2 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 1200px;
}

.Section_2 li{
   display: flex;
   align-items: center;
   justify-content: center;

}



.Section_2 li .Cards{
    background-color: var(--Cor-Amarela);
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15%;
}

.Cards div{
    text-align: center;
}

.Section_2 li .Cards img{
    width: 15%;
    padding: 10px;

}

/*-------------- Footer  ---------------- */
footer{
    
    background-color: var(--Cor-Cinza);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
}

footer div{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #b9b9b9;
}

.horario {
    background-color: #3C3C3B;
    color: white;
    padding: 10px;
    font-size: 24px;
}


/* Midias queries */

@media screen  and (max-width: 500px){
    
    .Menu{
        padding-top: 2%;
        margin-left: 5%;
        margin-right: 2%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: initial;
    }

    .Menu a{
        font-size: 20px;
    }

    .Menu_Esquerda_Simbulo{
        width: 50px;
    }
    .Menu_Esquerda_Simbulo{
        display: block;
    }

    .Menu_Esquerda_Fechado{
        display: none;
    }

    .Menu_Esquerda_Aberto{
        display: grid;
        gap: 1%;
        grid-template-columns: 73% 25% ;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }

    .Menu_Esquerda_Aberto ul{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .Menu_Esquerda_Aberto img{
        width: 70%;
    }

    .Menu_Esquerda_Aberto a{
        font-size: 17px;
    }
    /* ---------Main----------- */

    .Section_1{
        background-color: var(--Cor-Bege);
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3%;
        padding-top: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    .Atuação_Cards i{
        font-size: 20px;
        align-self: center;
    }
    
    .Textos h1{
        font-family: var(--Fonte-2);
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 20px;
    
    
        align-items: center;
        letter-spacing: 0.34em;
    
        color: var(--Cor-Cinza);
    }
    
    .Atuação_Cards h1{
        letter-spacing: 0em;
    }
    
    .Atuação_Cards img{
        width: 50%;
    }
    
    .Ganhador div{
        display: flex;
        flex-direction: row;
    }
    
    .Textos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    
    
    .Textos h2{
        font-family: var(--Fonte-2);
        font-style: normal;
        font-weight: 900;
        font-size: 13px;
    
        color: var(--Cor-Cinza);
    }


/* ----------------------------- */
.Section_2 {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--Cor-Bege);
    padding: 50px 0;
}

.Section_2 h1{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    


    align-items: center;
    letter-spacing: 0.34em;

    color: var(--Cor-Cinza);
}

.Section_2 h2{
    font-family: var(--Fonte-2);
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;

    color: #3C3C3B;
}
.Section_2 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 90vw;
}

.Section_2 li{
   display: flex;
   align-items: center;
   justify-content: center;

}

.Section_2 li .Cards{
    background-color: var(--Cor-Amarela);
    border-radius: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.Cards div{
    text-align: center;
}

.Section_2 li .Cards img{
    width: 15%;
    padding: 5px;

}

.Section_2 i img{
    width: 40%;
}

    /* -----------footer----------- */
    footer{
        height: 30px;
        padding: 0% 5%;
    }

    footer h3{
        font-size: 10px;
    }

    footer img{
        width: 20px;
        height: 20px;

    }
    .horario{
        font-size: 10px;
        padding: 0px;
    }
}